@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-list home-page-product-grid">
        <div class="title">
            <strong>@T("HomePage.Products")</strong>
            <span style="font-size:12px">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="text-decoration:underline;">View all</a></span>
        </div>
        <div class="item-grid" style="padding:0 20px;">
            @foreach (var item in Model)
            {
                var timeStr = item.StartDateTime + (string.IsNullOrEmpty(item.EndDateTime) ? "" : " - " + item.EndDateTime);
                <table class="line-box1" width="100%" style="background:white;border:1px solid #b5b5b5;margin-bottom:20px;">
                    <tr>
                        <td class="td-coupon">
                            <div class="item-box home-item-box">
                                @Html.Partial("_HomepageProductBox", item)
                            </div>
                        </td>
                        <td class="td-info">
                            <table height="150" width="100%">
                                <tr>
                                    <td valign="top" height="30px" colspan="2" style="font-size:18px;font-weight:bold;color:black;">@item.Name</td>
                                    @*<td valign="top" height="30px" align="right" style="font-size:18px;font-weight:bold;color:black;">@item.ProductType</td>*@
                                </tr>
                                <tr>
                                    <td valign="top" height="90px" colspan="2" style="font-size:16px;color:black;">@item.ShortDescription</td>
                                </tr>
                                <tr>
                                    <td valign="middle" height="30px" style="font-size:14px;color:black;position:relative;"><img style="position:absolute;top:5px;" src="~/Themes/Lesswallet/Content/images/date.png" width="20" height="20" /><span style="padding-left:25px;">@timeStr</span></td>
                                    <td valign="middle" height="30px" width="150" align="right" style="font-size:14px;color:black;"><a href="@Url.RouteUrl("Vendor", new { SeName = item.VendorModel.SeName })">@item.VendorModel.Name</a></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-button"><a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title"><div style="width: 100%;height: 100%;background: #ec6422;text-align: center;padding: 10px;"><img class="td-btn-img" src="~/Themes/Lesswallet/Content/images/icon_get.png" /><div style="color:white;font-size:26px;font-weight:bold">Get it now</div></div></a></td>
                    </tr>
                </table>
            }
        </div>
    </div>
}