@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });

    var benefit = "";
    var bgColor= "#137656";
    var shadingUrl = "";
    var customPicUrl = "";
    var logoUrl = "";
    var timeStr = Model.StartDateTime + (string.IsNullOrEmpty(Model.EndDateTime) ? "" : " - " + Model.EndDateTime);
    foreach (var specificationAttribute in Model.SpecificationAttributeModels)
    {
        var sid = specificationAttribute.SpecificationAttributeId;        
        var value = specificationAttribute.ValueRaw;        
        switch (sid)
        {
            case 1:
                benefit = value;
                break;
            case 5:
                bgColor = value;
                break;
            case 6:
                shadingUrl = value;
                break;
            case 7:
                customPicUrl = value;
                break;
            case 8:
                logoUrl = value;
                break;
            default:
                break;

        }
    }
}
<div class="product-item" data-productid="@Model.Id" style="">
    <div class="coupon-picture">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">  
            @if (Model.ProductType == ProductType.WiCoupon)
            {
            <div class="coupon" style="background:@bgColor url('@shadingUrl') no-repeat;background-size:100% 100%;">
                <div class="coupon-top">
                    <div class="coupon-logo"><img src="@logoUrl" style="height:60px;max-width:100%;float: left;" /></div>
                    <div class="coupon-benefit">@Html.Raw(benefit)</div>
                </div>
                <div class="coupon-title">
                    @Html.Raw(Model.Name)
                </div>
            </div>
            <div class="coupon-bottom">                
                <div class="coupon-bottom-left"><div style="display:table-cell;vertical-align:middle;">@timeStr</div></div>
                <div class="coupon-bottom-right"><div style="display:table-cell;vertical-align:middle;">@Model.ProductPrice.Price </div></div>
            </div> 
            }
            else if (Model.ProductType == ProductType.WiTicket)
            {
            <div class="coupon" style="background:@bgColor url('@shadingUrl') no-repeat;background-size:100% 100%;">
                <table height="140" border="0">
                    <tr>
                        <td rowspan="2" width="30%" style="padding: 10px 0 10px 20px;"><img src="@customPicUrl" style="width:100%;" /></td>
                        <td width="70%" height="50%" valign="top" style="padding: 10px 20px 5px 20px;color:white;font-size:18px;font-weight:600;">@Html.Raw(Model.Name)</td>                                                
                    </tr>
                    <tr>
                        <td width="70%" height="50%" valign="top" style="padding: 5px 20px 10px 20px;color:white;font-size:16px;">@Html.Raw(Model.ShortDescription)</td>                        
                    </tr>
                </table>
            </div>
            <div class="coupon-bottom">
                <div class="coupon-bottom-left"><div style="display:table-cell;vertical-align:middle;">@timeStr</div></div>
                <div class="coupon-bottom-right"><div style="display:table-cell;vertical-align:middle;">@Model.ProductPrice.Price </div></div>
            </div> 
            <div class="left-arc"></div>
            <div class="right-arc"></div>
            }
            else if (Model.ProductType == ProductType.WiCard)
            {
                <div class="wicard" style="background:@bgColor url('@shadingUrl') no-repeat;background-size:100% 100%;border-radius: 10px;">
                    <div class="card-top">
                        <div class="card-logo"><img src="@logoUrl" style="height:50px;max-width:100%;float: left;" /></div>
                        <div class="card-benefit">@Html.Raw(benefit)</div>
                    </div>
                    <div class="card-title">
                        @Html.Raw(Model.Name)
                    </div>
                    <div class="card-bottom">
                        <div class="card-bottom-left"><div style="display:table-cell;vertical-align:bottom;">@timeStr</div></div>
                        <div class="card-bottom-right"><div style="display:table-cell;vertical-align:bottom;">@Model.ProductPrice.Price </div></div>
                    </div>
                </div>

            }
        </a>
    </div>
   
</div>
